<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <threshold value="Warn"/>
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=supportsql;Initial Catalog=onyx;Persist Security Info=True;User ID=sa;Password=Support1$;Min Pool Size=5;Max Pool Size=60" />
    <commandText value="INSERT INTO BUS_WFMDashboard_Log ([Date],[Thread],[Level],[Logger],[Message],[Exception], [ComputerName]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @computer_name)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@computer_name" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
  </appender>
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="rtyszka@kmbs.konicaminolta.us" />
    <from value="'SSD Mobile' donotreply@kmbs.konicaminolta.us" />
    <subject value="Mobile Access Log4Net" />
    <smtpHost value="10.10.232.240"/>
    <bufferSize value="1" />
    <lossy value="true" />
    <priority value="High" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout,log4net">
      <conversionPattern value="%property{log4net:HostName} :: %level :: %location%newline%newline %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
    </layout>
  </appender>
  <root>
    <level value="Warn" />
    <appender-ref ref="AdoNetAppender" />
    <!--    <appender-ref ref="SmtpAppender" />-->
  </root>
</log4net>