body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

/*@media (min-width: 1500px) {
    .container {
        max-width: 1470px;
    }
}

@media (min-width: 1700px) {
    .container {
        max-width: 1570px;
    }
}*/

.fc-title{
    cursor: pointer;
}

/*input,
select,
textarea {
    max-width: 280px;
}*/

/*Header*/
.navbar-blue .container {
    background-color: rgb(0, 118, 188);
}

.navbar-blue .navbar-brand {
    color: white;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.log-off-google{
    cursor: pointer;
    float: right;
}

.small{
    font-size: 0.8em;
}

.input-xs {
    height: 23px;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 1.3;
    border-radius: 2px;
}

/* Main Page */

.no-margin{
    margin-left: 0;
    margin-right: 0;
}

.small-alert-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-bottom: 0;
    font-size: 1.5em;
    padding: 1em 1.3em;
    z-index: 2000;
    
    
    border: 1px solid;
    border-radius: 5px;
    max-width: 50vw;
    max-height: 40vh;
    overflow-y: auto;
}

.loading-div, .message-div {
    position: fixed;
    background-color: white;
    z-index: 1050;
    top: 34vh;
    left: 40vw;
    padding: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 15px;
    border: 1px solid #3e3e75;
    border-radius: 6px;
    box-shadow: #b7b7b7 2px 2px 2px 2px;
}

.loading-div-back, .message-div-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800vh;
    background: #000;
    opacity: 0.15;
    filter: alpha(opacity=15);
    z-index: 1049;
}

.notification-row{
    margin-bottom: 4px;
}

.success-msg {
    background-color: #d9edf7;
    color: #31708f;
}
.error-msg {
    background-color: #fddbdb;
    color: #da1717;
}

.main-area{
    /*border-right: 1px solid blue*/
}

.underlined{
    text-decoration: underline;
}

.center-text{
    text-align: center
}

.event-form {
    margin-left: 0;
    border: 1px solid #0076bc;
    border-radius: 3px;
    padding: 5px;
    padding-left: 20px;
    font-size: 0.8em;
}



.margin-top{
    margin-top: 25px;
}

.unpadded-left{
    padding-left: 0
}

.unpadded-right{
    padding-right: 0
}



.form-header {
    margin-top: 0px;
    text-align: center;
    border-bottom: 1px solid #0076bc;
    /*background-color: rgb(0, 118, 188);*/
    background-color: rgba(0, 118, 188, 0.25);
    /*color: white;*/
    padding-top: 4px;
    padding-bottom: 4px;
    margin: -5px -5px 5px -20px;
}

.bordered-div {
    border: 1px solid #3894ca;
    margin-right: 5px;
}

.sent-label{
    font-size: 0.8em;
}

.box-header {
    /*background-color: rgb(0, 118, 188);
    color: white;*/
    background-color: rgb(194, 222, 239);
}
.box-content {
    /*border: 1px solid rgb(0, 118, 188);*/
    font-weight: bold;
}

.box-header-label {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.box-content-row {
    padding: 5px;
    border-bottom: 1px solid #caebff;
}

.box-content-row-bottom {
    padding: 5px;
    background: #fffabc;
}

.teamInfo {
    border: 1px solid #0076bc;
    border-radius: 0px;
    margin-bottom: 10px;
}
.team-info-box {

}

.tab-pane{
    margin-top: 20px;
}

.schedule-table{
    width: 100%;
}

.form-header-modal {
    margin-top: 0px;
    text-align: center;
    border-bottom: 1px solid #0076bc;
    background-color: rgb(0, 118, 188);
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px 4px 0px 0px;
    margin: -20px -35px 20px -35px;
}

.modal-body{
    padding-bottom: 5px;
}
.modal-footer{
    padding: 10px;
    margin-top: 5px;
}

@media screen and (min-width: 768px){
    .modal-dialog.wide{
        width: 900px;
    }
}
.modal-dialog.slim{
    width: 475px;
}

.repeat-event-table th {
    color: #222;
    font-weight: bold;
    padding: 5px 10px 5px 0;
    text-align: right;
    white-space: nowrap;
}

.repeat-event-table td {
    padding: 5px 0;
}

.repeat-event-table td label{
    font-weight: normal;
}

.invitee-row {
    border: 1px solid #0076bc;
    height: 22px;
    padding: 1px;
    margin-bottom: 2px;
}
.remove-invitee-row{
    height: 18px;
    width: 18px;
    padding: 0;
}
.remove-invitee-row .glyphicon{

}

.ui-front {
    z-index: 2000 !important;
}

/*MOW TAB*/

.icm-schedule-list {
    max-height: 35vh;
    overflow-y: scroll;
}

.new-icm-form {
    margin-top: 10px;
    border: 1px solid #0076bc;
    border-radius: 5px;
    padding: 5px;
}

h4.box-header{
    padding-bottom: 3px;
    padding-top: 3px;
}

.no-padding{
    padding: 5px;
}

.new-mow-event-form {
    margin-top: 10px;
    border: 1px solid #0076bc;
    border-radius: 5px;
    padding: 5px;
}

.mow-schedule-edit-table{
    margin-top: 20px;
}

.edit-mow-schedule-date-area {
    margin-top: 20px;
    padding: 5px;
    border: 1px solid #0076bc;
    border-radius: 5px;
}

.mow-date-header {
    margin-bottom: 0px;
    /*background: rgba(0, 118, 188, 0.24);*/
    background-color: rgba(255, 224, 0, 0.52);
    padding-top: 4px;
    padding-bottom: 4px;
}

.icm-schedule-table th{
    width: 50%
}
.icm-year-header {
    background-color: rgba(255, 224, 0, 0.52);
    padding: 2px;
}

.mow-schedule-list {
    max-height: calc(60vh - 23px);
    overflow-y: auto;
    border-top: 1px solid #dddddd
}

.escalation-row{
    color: crimson
}

.new-late-shift-form {
    margin-top: 10px;
    border: 1px solid #0076bc;
    border-radius: 5px;
    padding: 5px;
}

.mow-table-title {
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    background: rgba(255, 202, 122, 0.72);
}

.color-selector{
    display: inline-block;
    margin-right: 1px;
    height: 18px;
    width: 18px;
    margin-bottom: -3px;
}
    .color-selector.chosen {
        background: url(images/ui-icons_ffffff_256x240.png);
        background-position: -63px -144px;
    }


.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}